<div class="sidebar-container">
    <div class="grid-item "><a href="/">Logo</a></div>
    <div class="grid-item">Courses</div>
    <div class="grid-item"><a href="/blog">Blog</a></div>
    <div class="grid-item">Learning Paths</div>
    <div class="grid-item" id="searchContainer">
      <input id="search"/>
      <button id="searchButton">
        <fa-icon [icon]="faSearch"></fa-icon>
      </button>
    </div>
    <div class="grid-item">Profile</div>
    <div class="grid-item">Your Courses</div>
    <div id="logoutButton" class="grid-item" (click)="logout()">Logout</div>
  </div>