<div class="modal fade" id="addHero" tabindex="-1" role="dialog" aria-labelledby="addHero" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="catLabel">Create a Page Hero</h5>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-3">
                        <form id="heroForm">
                            <div class="form-group">
                                <p hidden id="hero_mode"></p>
                                <label for="pageHeading" class="col-form-label">Heading: </label>
                                <input type="text" class="form-control" id="pageHeading" oninput="updateText('mainHeading',document.getElementById('pageHeading').value);">
                                
                                <label for="pageHeadingColor" class="col-form-label">Font color:</label>
                                <input type="color" class="form-control" id="pageHeadingColor">
                                
                                <label for="pageSubHeading" class="col-form-label">Subheading: </label>
                                <input type="text" class="form-control" id="pageSubHeading" oninput="updateText('subHeading',document.getElementById('pageSubHeading').value);">
                            
                                <label for="ctaButtonText" class="col-form-label">Call to action text: </label>
                                <input type="text" class="form-control" id="ctaButtonText" oninput="updateText('callToAction',document.getElementById('ctaButtonText').value);">
                            

                                <label for="imageUpload" class="col-form-label">Background Image: </label>
                                <input type="file" id="imageUpload" accept="image/jpeg, image/png, image/jpg">
                            </div>
                        </form>
                    </div>
                    <div class="col-9" id="heroContent">
                        <div class="jumbotron" id="heroJumbotron">
                            <h1 id="mainHeading" class="display-4"></h1>
                            <p id="subHeading" class="lead"></p>
                            <hr class="my-4">
                            <a id="callToAction" class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="catNameToAdd" type="button" class="btn btn-primary" data-dismiss="modal" onclick="updateAndSave('heroContent','heroForm',document.getElementById('hero_mode').innerHTML, 0,'hero')">Save</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="clearFormPre('heroForm','heroContent')">Close</button>
                
            </div>
        </div>
    </div>
</div>


<script>

    document.querySelector("#pageHeadingColor").addEventListener("change",function(){
        document.querySelector("#mainHeading").style.color = document.querySelector("#pageHeadingColor").value;
    })

    document.querySelector("#imageUpload").addEventListener("change",function(){
        const reader = new FileReader();
        reader.addEventListener("load", () => {
            const uploadedImage = reader.result;
            document.querySelector("#heroJumbotron").style.backgroundImage = `url(${uploadedImage})`;
        });
        reader.readAsDataURL(this.files[0]);
    });

    function clearFormPre(formName,contentName){
        switch(contentName){
            case "heroContent":
                clearForm(formName,['mainHeading','subHeading']);
                break;
        }
    }
</script>