<div>
      
    <app-unauthnav></app-unauthnav>
    
    <div id="loginFormContainer">
      <label for="email">Email</label>
      <input id="loginEmailInput" class="formTextBox"  [(ngModel)]="email" placeholder="email"/>

      <label for="password">Password</label>
      <input id="loginPasswordInput" type="password" class="formTextBox" [(ngModel)]="password" placeholder="password"/>

      <p>{{message}}</p>
      <button id="loginFormSubmit" (click)="login()">Login</button>
    </div>

</div>