<div *ngIf="courses">
    <h3>What you'll learn</h3>
    <div *ngFor="let learn of courses.learning_objective; let indexOfelement = index">
      <span class="learningObj" #LearningObjective>{{learn}}
        <span (click)="promptDetailEdit(EditLearnObjPrompt, LearningObjective, 'editLearnObjPrompt','learningObj')">
          <fa-icon  [icon]="faEdit"></fa-icon>
        </span>
        <span #LearnDelete id = 'lo-{{indexOfelement}}-delete' (click)="deleteLearningObj(LearnDelete)">
          <fa-icon [icon]="faTrash"></fa-icon>
        </span>
      </span>
      <div #EditLearnObjPrompt class="editLearnObjPrompt hidden">
        <input
          id="input-m-{{ indexOfelement }}"
          #LearnObjInput
          type="text"
          value="{{learn}}"
        />
        <button (click)="editDetail(EditLearnObjPrompt, LearningObjective, LearnObjInput,'learningObj')">Save</button>
      </div>
      

    </div>
    
    <div *ngIf="addingLearnObj">
      <input
        #LearningObjectiveInput
        type="text"
        placeholder="Enter a learning objective"
      />
      <button (click)="addObjective(LearningObjectiveInput)">Save</button>
    </div>

    <button (click)="promptLearningObjective()">Add learning objective</button>

    <h3>Audience</h3>
    <div *ngFor="let audience of courses.audience; let indexOfelement = index">
      <span class="audienceTitle" #Audience>{{audience}}
        <span (click)="promptDetailEdit(EditAudiencePrompt, Audience, 'editAudiencePrompt','audienceTitle')" id = 'audience-{{indexOfelement}}-edit'>
          <fa-icon  [icon]="faEdit"></fa-icon>
        </span>
        <span id = 'audience-{{indexOfelement}}-delete' #AudienceDelete (click)="deleteAudience(AudienceDelete)">
          <fa-icon [icon]="faTrash"></fa-icon>
        </span>
      </span>

      <div #EditAudiencePrompt class="editAudiencePrompt hidden">
        <input
        id="input-m-{{ indexOfelement }}"
        #EditAudienceInput
        type="text"
        value="{{audience}}"
        />
        <button (click)="editDetail(EditAudiencePrompt, Audience, EditAudienceInput,'audienceTitle')">Save</button>
      </div>
    </div>

    <div *ngIf="addingAudience">
      <input
        #AudienceInput
        type="text"
        placeholder="Enter an audience"
      />
      <button (click)="addAudience(AudienceInput)">Save</button>
    </div>

    <button (click)="promptAudience()">Add learning objective</button>

    <h3>Requirements</h3>
    <div *ngFor="let requirement of courses.requirements; let indexOfelement = index">
      <span class="requirementTitle" #RequirementTitle>{{requirement}}
      <span (click)="promptDetailEdit(EditRequirementPrompt, RequirementTitle, 'editRequirementPrompt','requirementTitle')" id = 'audience-{{indexOfelement}}-edit'>
        <fa-icon  [icon]="faEdit"></fa-icon>
      </span>
      <span id = 'req-{{indexOfelement}}-delete' #RequirementDelete (click)="deleteRequirement(RequirementDelete)">
        <fa-icon [icon]="faTrash"></fa-icon>
      </span>
    </span>

      <div #EditRequirementPrompt class="editRequirementPrompt hidden">
        <input
        id="input-m-{{ indexOfelement }}"
        #EditRequirementInput
        type="text"
        value="{{requirement}}"
        />
        <button (click)="editDetail(EditRequirementPrompt, RequirementTitle, EditRequirementInput,'requirementTitle')">Save</button>
      </div>

    </div>
  
    <div *ngIf="addingRequirement">
      <input
        #ReqInput
        type="text"
        placeholder="Enter an audience"
      />
      <button (click)="addRequirement(ReqInput)">Save</button>
    </div>

    <button (click)="promptRequirement()">Add learning objective</button>

  </div>