<app-sidebar></app-sidebar>

<div class="dashboardBody">
  <div class="tab">
    <div id="curriculum">
      <button
        class="tabButton"
        #CurriculumButton
        (click)="toggle(CurriculumElement, CurriculumButton)"
      >
        Curriculum
      </button>
    </div>

    <div id="pricing">
      <button
        class="tabButton"
        #PricingButton
        (click)="toggle(PricingElement, PricingButton)"
      >
        Pricing
      </button>
    </div>

    <div id="courseDetails">
      <button
        class="tabButton"
        #CourseDetailButton
        (click)="toggle(CourseDetailElement, CourseDetailButton)"
      >
        Course Details
      </button>
    </div>
  </div>

  <div #CurriculumElement class="content hidden">
    <app-curriculum-display [courses]="courses" [id]="id"></app-curriculum-display>
  </div>

  <div id="courseContainer" #CourseDetailElement class="content hidden">
    <app-course-details [courses]="courses" [id]="id"></app-course-details>
  </div>

  <div #PricingElement id="pricingContainer" class="content hidden">
    <app-course-pay [courses]="courses" [id]="id"></app-course-pay>
  </div>
</div>
