<div *ngIf="showPriceTable">
    <button class="mainButton" (click)="planPrompt()">Add Plan</button>
    <div *ngIf="courses">
      <table class="styled-table">
        <thead>
          <tr>
            <th>Plan Name</th>
            <th>Plan Type</th>
            <th>Currency</th>
            <th>Pay Amount</th>
            <th>Frequency</th>
            <th>Status</th>
            <th>Edit</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let pay of courses.payment_options; let indexOfelement = index">
            <th>{{ pay.plan_name }}</th>
            <td>{{ pay.plan_type }}</td>
            <td>{{ pay.currency }}</td>
            <td>{{ pay.pay_amount }}</td>
            <td>{{ pay.frequency }}</td>
            <td>{{ pay.status }}</td>
            <td #PayEditItem id="PayItem-{{indexOfelement}}-edit" (click)="editPayOption(PayEditItem)"><fa-icon [icon]="faEdit"></fa-icon></td>
            <td #PayDeleteItem id="PayItem-{{indexOfelement}}-delete" (click)="deletePayOption(PayDeleteItem)"><fa-icon [icon]="faTrash"></fa-icon></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div *ngIf="addPayPlan">
    <label for="planTypes">Choose a payment plan type</label>
    <select [(ngModel)] = "planTypeSelect" #PlanSelect (change)="changePlanType(PlanSelect)" name="planTypes" id="planTypes">
    <option value="Free">Free</option>
    <option value="One-time">One time payment</option>
    <option value="Subscription">Subscription</option>
  </select>

  <label for="planNameInput">Enter a plan name</label>
  <input #PlanName id="planNameInput" [(ngModel)]="planAddName" type="text" required placeholder="plan name">

  <div *ngIf="showPaidFields">
    <label for="currencySelect" class="paidOption subscriptionOption">Select a currency</label>
    <select [(ngModel)]="currencySelectValue" name="currencySelect" id="currencySelect" class="paidOption subscriptionOption">
      <option value="USD">USD</option>
      <option value="CAD">CAD</option>
    </select>

    <label for="payAmount" class="paidOption subscriptionOption">Enter the amount to pay</label>
    <input type="text" [(ngModel)]="planAmountValue" id="payAmount" class="paidOption subscriptionOption" placeholder="Payment amount">
  </div>

  <div *ngIf="showSubFields">
    <label for="frequencyPay" class="subscriptionOption">Enter the payment frequency</label>
    <select [(ngModel)]="payFrequencyValue" name="frequencyPay" id="frequencyPay" class="subscriptionOption">
      <option value="Monthly">Monthly</option>
      <option value="Yearly">Yearly</option>
    </select>
  </div>

  <div *ngIf="updatePaymentPlan">
    <button class="mainButton" (click)="savePaymentPlan(PlanSelect, PlanName)">Edit Plan</button>
  <button class="mainButton" (click)="cancelAddPayment()">Cancel</button>
  </div>

  <div *ngIf="!updatePaymentPlan">
    <button class="mainButton" (click)="savePaymentPlan(PlanSelect, PlanName)">Save</button>
    <button class="mainButton" (click)="cancelAddPayment()">Cancel</button>
  </div>

</div>