html, body, div{
    margin: 0;
      padding: 0;
      border: 0;
      font-size: 100%;
      font: inherit;
      vertical-align: baseline;
  }
  
  p{
    font-family: 'Open Sans', sans-serif;
  }
  
  a{
    text-decoration: none;
    background-color: transparent;
    color:#000;
  }

  .dashboardBody {
    margin-left: 200px;
    margin-top:50px;
    font-size: 18px;
}