<div class="sidebar-container">
  <div class="grid-item ">Logo</div>
  <div class="grid-item">All Courses</div>
  <div class="grid-item">Categories</div>
  <div class="grid-item">Learning Paths</div>
  <div class="grid-item" id="searchContainer">
    <input id="search" value="Search">
    <button id="searchButton">
      <i class="fa fa-search"></i>
    </button>
  </div>
  <div class="grid-item"><a href="/login">Login</a></div>
  <div class="grid-item">Register</div>
</div>