<div class="sidebar">
    <div>Dashboard</div>
    <div>Members</div>
    <div>
        <details>
            <summary>
            Website
            </summary>
            <div>Posts</div>
            <div>Categories</div>
            <div>Pages</div>
        </details>
    </div>
    <div>
        <details>
            <summary>
            Products
            </summary>
            <div><a href="/dashboard/courses">Courses</a></div>
        </details>
    </div>
    <div>
        Marketing
    </div>
    <div>
        Sales
    </div>

    <div>
        Settings
    </div>

    <div>
        Reports
    </div>

</div>